header{
    padding: 1em;
    background-color: #F8F9FA;
    border: 1px solid black;
}
.title-container {
    position: absolute;
    top: 0%;
    margin-right:3rem;
    font-size:3rem;
    font-weight: bold;
}
.header-container{
    display:flex;
    justify-content: center;
}
.fresco-head{
    margin-top: 1rem;
    margin-right:2rem;
    height:96px;
    width:96px;
}

.navbar-container{
    padding: 1rem;
    margin: 1rem;
    position:sticky;
    display:flex;
    align-items: center;
    justify-content: right;
    border: 1px solid black;
    
}
.nav-menu{
    
    display:flex;
    float:right;
    justify-content: center;
    align-items: center;
    gap:1rem;
    list-style:none;
}


.img-icon{
    height:32px;
    width:32px;
    
}