
.title-container {
    flex:1 0 auto;
    position: relative;
    left: 5%;
    font-size:3rem;
    font-weight: bold;
}
.header-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar-container{
    position:absolute;
    right: 75%;
    padding: 1rem;
    margin: 1rem;
    position:sticky;
    display:flex;
    align-items: center;
    justify-content: right;
    border: 1px solid black;
    
}
.nav-menu{
    
    display:flex;
    float:right;
    justify-content: center;
    align-items: center;
    gap:1rem;
    list-style:none;
}


.img-icon{
    height:32px;
    width:32px;
    
}